/*----------------------Font families-----------------------*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*----------------------Main container-------------------*/
/*.main-container {
    width: 100%;
    margin: 0 auto;
    min-width: 800px;
}*/

/*----------------------Header styles--------------------*/

/*.main-header {
    width: 100%;
    padding-bottom: 50%;
    background: url("images/header_bg.png") no-repeat top center;
    background-size: contain;
    margin: 0 auto;
}


.header-top {
    width: 58.072%;
    padding-bottom: 5%;
    border: 1px solid white;
    margin: 0 auto;
}

.header-logo {
    width: 29.47%;
    padding-bottom: 5%;
    border: 1px solid white;
    float: left;
    font-size: 1em;
    color: white;
}

.header-links {
    width: 53.68%;
    border: 1px solid white;
    float: right;
    padding-top: 4%;
}

.header-links li {
    display: inline-block;
}

.header-links li:nth-child(n+1) {
    margin-left: 3%;
}

.header-links a {
    color: #ffb932;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
}*/

.main-container {
    width: 1920px;
    margin: 0 auto;
}

.main-header {
    background: url("images/header_bg.png") no-repeat;
    width: 1920px;
    padding-bottom: 217px;
    margin: 0 auto;
}

.header-top {
    width: 1200px;
    padding-bottom: 20px;
    border: 1px solid white;
    margin: 0 auto;
}

.header-logo {
    width: 330px;
    border: 1px solid white;
    float: left;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    line-height: 48px;
    position: relative;
    margin-top: 10px;
    margin-left: 46px
}

.header-logo:after {
    content: '';
    width: 61px;
    margin-left: -105px;
    height: 1px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 26px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    opacity: 0.3;
}

.x-style {
    color: #ffb932;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    line-height: 48px;
    text-transform: uppercase;
}



.header-links {
    width: 600px;
    border: 1px solid white;
    float: right;
    margin-top: 32px;
}

.header-links li {
    display: inline-block;
}

.header-links li:nth-child(n+2) {
    margin-left: 30px;
}

.header-links a {
    color: #ffb932;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-links a:hover:after {
    content: '';
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 20px;
    color: white;
}

.header-links a:hover {
    color: white;
}

.header-content {
    width: 600px;
    height: 168px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 188px;
    text-align: center;
    color: white;
}

.header-content-top {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-style: italic;
    line-height: 48px;
}

.header-content-bottom {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 48px;
    margin-top: 10px;
}

.header-content-link {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-top: 10px;
}

.header-content-link:hover {
    background-color: white;
    color: black;
}

.content-heading {
    width: 1920px;
    height: 468px;
    background-color: white;
    border: 1px solid black;
}

.content-heading-top {
    width: 865px;
    height: 135px;
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content-heading-top-services {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    line-height: 48px;
    position: relative;
    display: block;
}

.content-heading-top-services:before {
    content: '';
    width: 50px;
    margin-left: 1%;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 70px;
    color: black;
    opacity: 0.5;
}

.content-heading-top-services:after {
    content: '';
    width: 50px;
    margin-left: -6%;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 70px;
    color: black;
    opacity: 0.5;
}

.content-heading-top-symbol {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    line-height: 48px;
    position: relative;
    display: block;
}

.content-heading-top-text {
    color: #4a4a4a;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
}

.content-heading-bottom {
    width: 1201px;
    height: 257px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 43px;
}

.content-heading-bottom-element {
    width: 255px;
    height: 255px;
    border: 1px solid black;
    float: left;

}

.content-heading-bottom-element:nth-child(n+1) {
    margin-left: 33px;
}

.content-heading-bottom-element-icon-1 {
    width: 95px;
    height: 95px;
    background-color: #f0f0f0;
    text-align: center;
    color: black;
    font-family: FontAwesome,serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 95px;
}

.content-heading-bottom-element-icon-2 {
    width: 95px;
    height: 95px;
    background-color: #f0f0f0;
    text-align: center;
    color: black;
    font-family: FontAwesome,serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 95px;
}

.content-heading-bottom-element-icon-3 {
    width: 95px;
    height: 95px;
    background-color: #f0f0f0;
    text-align: center;
    color: black;
    font-family: FontAwesome,serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 95px;
}

.content-heading-bottom-element-icon-4 {
    width: 95px;
    height: 95px;
    background-color: #f0f0f0;
    text-align: center;
    color: black;
    font-family: FontAwesome,serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 95px;
}

.content-heading-bottom-element-text {
    width: 252px;
    height: 157px;
    border: 1px solid black;
}

.content-heading-bottom-element-link {
    text-decoration: none;
    display: block;
    position: relative;
}

.el-link-txt {
    color: #1f1f1f;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}

.el-link-txt:hover:after {
    content: '';
    width: 35%;
    height: 3px;
    background-color: #ffb932;
    display: inline-block;
    position: absolute;
    top: 110px;
    left: 0;
}

.el-link-txt:hover {
    color: #ffb932;
}

.el-link-content {
    color: #474747;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}

/*-------------------Content rect--------------------------*/

.content-rect {
    background: url("images/content_rect.png");
    width: 1920px;
    height: 225px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content-rect span {
    color: #e9e9e9;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
}

/*----------------------Content projects styles---------------------------*/

.content-projects {
    width: 1920px;
    height: 720px;
    background-color: #ededed;
}

.projects-links {
    width: 800px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
}

.projects-links li {
    display: inline-block;
}

.projects-links li:nth-child(n+2) {
    margin-left: 52px;
}

.projects-links a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    opacity: 0.5;
    color: #4a4a4a;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
}

.projects-links a:hover:after {
    content: '';
    width: 40%;
    margin-left: 29%;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 20px;
    color: black;
}

.projects-links a:hover {
    color: black;
    opacity: 1.0;
}

.content-gallery {
    /*width: 1110px;
    height: 350px;*/
    border: 1px solid #ededed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: table;

}

.content-gallery-row {
    display: table-row;
}

.content-gallery-cell-top {
    display: table-cell;
    border: 15px solid #ededed;
    width: 255px;
    height: 160px;
    background-size: cover;
}

.content-gallery-cell-bot {
    display: table-cell;
    border: 15px solid #ededed;
    width: 255px;
    height: 160px;
    background-size: cover;
}

.content-gallery-cell-top:nth-child(1) {
    background: url("images/build_1.png") no-repeat;
}

.content-gallery-cell-top:nth-child(2) {
    background: url("images/build_2.png") no-repeat;
}

.content-gallery-cell-top:nth-child(3) {
    background: url("images/build_3.png") no-repeat;
}

.content-gallery-cell-top:nth-child(4) {
    background: url("images/build_4.png") no-repeat;
}

.content-gallery-cell-bot:nth-child(1) {
    background: url("images/build_5.png") no-repeat;
}

.content-gallery-cell-bot:nth-child(2) {
    background: url("images/build_6.png") no-repeat;
}

.content-gallery-cell-bot:nth-child(3) {
    background: url("images/build_7.png") no-repeat;
}

.content-gallery-cell-bot:nth-child(4) {
    background: url("images/build_8.png") no-repeat;
}


.cnt-gl-lnk {
    position: relative;
    border: 1px solid black;
    width: 253px;
    height: 158px;
    background-color: hsla(0,100%,0%,0.8);
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.cnt-gl-lnk:hover {
    opacity: 1.0;
}

.cnt-gl-lnk p {
    margin-left: 20px;
}

.el-link-txt-2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;

}

.el-link-txt-2:after {
    content: '';
    width: 25%;
    height: 3px;
    background-color: #ffb932;
    display: inline-block;
    position: absolute;
    top: 65px;
    left: 22px;
}

.el-link-txt-2:hover {
    color: #ffb932;
}

.el-link-content-2 {
    color: #e1e1e1;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 0;
}

.cnt-icons {
    margin-top: 60px;
    margin-right: 25px;
    width: 80px;
    height: 40px;
    border: 1px solid white;
    float: right;
    overflow: visible;
}

.cnt-icons-links {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
}

.cnt-icons-links:last-child {
    background-color: #353535;
    border-radius: 2px;
    float: right;
    color: #e1e1e1;
    font-family: FontAwesome, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.cnt-icons-links:first-child {
    background-color: #353535;
    border-radius: 2px;
    float: left;
    color: #e1e1e1;
    font-family: FontAwesome, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.cnt-icons-links:last-child:hover {
    color: #353535;
    background-color: #ffb932;
}

.cnt-icons-links:first-child:hover {
    color: #353535;
    background-color: #ffb932;
}

.content-gallery-footer {
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;

}
.content-gallery-footer a {
    text-decoration: none;
    color: #131313;
    display: inline-block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.content-gallery-footer a:hover {
    color: #ffb932;
}

.content-gallery-footer span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.content-gallery-footer i {
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
}

/*------------------------------Logos styles-----------------------*/

.content-logos {
    width: 1920px;
    height: 150px;
    border: 1px solid black;
    vertical-align: middle;
}

.content-logos-container {
    width: 835px;
    height: 31px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 1px solid black;
}
.content-logos-container a {
    display: inline-block;
    line-height: 28px;
    width: 128px;
    height: 28px;
    border: 1px solid black;
    float: left;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.lg-lnk-1 {
     background: url("images/Reebok.png") no-repeat center;
}

.lg-lnk-1:hover {
    background: url("images/Reebok_y.png") no-repeat center;
}

.lg-lnk-2 {
    background: url("images/lotto.png") no-repeat center;
}

.lg-lnk-2:hover {
    background: url("images/lotto_y.png") no-repeat center;
}

.lg-lnk-3 {
    background: url("images/converse.png") no-repeat center;
}

.lg-lnk-3:hover {
    background: url("images/converse_y.png") no-repeat center;
}

.lg-lnk-4 {
    background: url("images/oyea.png") no-repeat center;
}

.lg-lnk-4:hover {
    background: url("images/oyea_y.png") no-repeat center;
}

.lg-lnk-5 {
    background: url("images/adidas.png") no-repeat center;
}

.lg-lnk-5:hover {
    background: url("images/adidas_y.png") no-repeat center;
}

.content-logos-container a:nth-child(n+1){
    margin-left: 30px;
}

/*------------------------Coments styles-----------------------*/

.comments-container {
    width: 1920px;
    height: 550px;
    background: url("images/comments_bg.png") no-repeat;
}

.content-heading-top-2 {
    width: 865px;
    height: 135px;
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.content-heading-top-services-2 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    line-height: 48px;
    position: relative;
    display: block;
}

.content-heading-top-services-2:before {
    content: '';
    width: 50px;
    margin-left: 1%;
    height: 2px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 70px;
    color: white;
    opacity: 0.5;
}

.content-heading-top-services-2:after {
    content: '';
    width: 50px;
    margin-left: -6%;
    height: 2px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 70px;
    color: white;
    opacity: 0.5;
}

.content-heading-top-symbol-2 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    line-height: 48px;
    position: relative;
    display: block;
}

.content-avatar {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    background: url("images/avatar.png");
    margin-left: auto;
    margin-right: auto;
}

.content-heading-txt {
    width: 1050px;
    height: 65px;
    margin-top: 30px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #e8e8e8;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    line-height: 31px;
    position: relative;
}
.content-heading-txt:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 48.5%;
    width: 31px;
    height: 3px;
    background-color: #e8e8e8;
}

.content-heading-name {
    width: 1050px;
    height: 65px;
    margin-top: 22px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
    color: #ffb932;
}

.content-span-symbol {
    color: white;
}

.content-span-txt {
    color: #d0d0d0;
}

/*---------------------------Blog styles-------------------------*/

.blog {
    width: 1920px;
    height: 565px;
    background-color: #ebebeb;
}

.content-heading-top-blog {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
    line-height: 48px;
    position: relative;
    display: block;
}

.content-heading-top-blog:before {
    content: '';
    width: 50px;
    margin-left: -5.5%;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 70px;
    color: black;
    opacity: 0.5;
}

.content-heading-top-blog:after {
    content: '';
    width: 50px;
    margin-left: 0;
    height: 2px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 70px;
    color: black;
    opacity: 0.5;
}

.content-article {
    border: 1px solid #ebebeb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: table;
}

.content-article-row {
    display: table-row;
}

.content-article-cell {
    display: table-cell;
    border: 15px solid #ebebeb;
    width: 255px;
    height: 255px;
    background-color: white;
}

.content-article-inner {
    width: 210px;
    height: 210px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.article-header {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.article-content {
    color: #656565;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
}

.article-content-link {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.article-content-link:hover {
    color: #ffb932;
}
/*---------------------------Footer styles---------------------------*/
.footer-top {
    width: 1920px;
    height: 115px;
    background: url("images/footer-rop.png") no-repeat;
    padding-top: 55px;
}

.footer-txt-lnk {
    width: 1120px;
    height: 52px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

.footer-txt-lnk p {
    float: left;
    color: #cfcfcf;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
}

.footer-content-link {
    text-align: center;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    float: right;
}

.footer-content-link:hover {
    background-color: white;
    color: black;
}

.footer-bottom {
    width: 1920px;
    height: 250px;
    background-color: #171717;
    padding-top: 45px;
}

.footer-logo {
    width: 330px;
    border: 1px solid white;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    line-height: 48px;
    position: relative;
    margin-left: 45.5%;
}

.footer-logo:after {
    content: '';
    width: 61px;
    margin-left: -105px;
    height: 1px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 26px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    opacity: 0.3;
}

.footer {
    width: 250px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    margin-top: 10px;
}

.footer-facebook {
    float: left;
    text-align: center;
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #e9e9e9;
    color: #e9e9e9;
    font-family: FontAwesome, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.footer-facebook:hover {
    background-color: #ffb932;
    border: 1px solid #ffb932;
    color: black;
}

.footer-twitter {
    float: left;
    text-align: center;
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #e9e9e9;
    color: #e9e9e9;
    font-family: FontAwesome, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-left: 16px;
}

.footer-twitter:hover {
    background-color: #ffb932;
    border: 1px solid #ffb932;
    color: black;
}

.footer-google {
    float: left;
    text-align: center;
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #e9e9e9;
    color: #e9e9e9;
    font-family: FontAwesome, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-left: 16px;
}

.footer-google:hover {
    background-color: #ffb932;
    border: 1px solid #ffb932;
    color: black;
}

.footer-linked {
    float: left;
    text-align: center;
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #e9e9e9;
    color: #e9e9e9;
    font-family: FontAwesome, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-left: 16px;
}

.footer-linked:hover {
    background-color: #ffb932;
    border: 1px solid #ffb932;
    color: black;
}

.footer-insta {
    float: right;
    text-align: center;
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #e9e9e9;
    color: #e9e9e9;
    font-family: FontAwesome, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.footer-insta:hover {
    background-color: #ffb932;
    border: 1px solid #ffb932;
    color: black;
}

.footer-copyright {
    text-align: center;
    color: #e9e9e9;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}